*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #86c0ed30!important;
}
#generalDiv{
    display: flex;
}
*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0);
}
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.37);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.63);
}
.LoginPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SignIn{
    width: 35vw;
    height: 50vh;
}
.loginText{
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: mediumblue;
}
.Moduls{
    width: 20vw;
    height: 85vh;
    margin: 5px;
    background-color: white;

}
.Main{
    width: 80vw;
    height: 70vh;
    margin: 5px;
    background-color: white;
}
.Home{
    display: flex;
    flex-direction: column;
}
.Header{
    margin: 5px;
    width: 99vw;
    height: 10vh;
    background-color: white;
}
.ModulBar{
    max-height: 85vh;
    overflow: auto;
}
a{
    text-decoration:none;
}
